*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
height: 100%;
width: 100%;
}

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 4rem;
    background-color: #fff;
    z-index: 999;
}

h4 {
font-size: 22px;
}

.nav__left,.nav__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    padding: 3rem;

}

.logo {
    position: fixed;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em;
    z-index: 1000;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.content {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
    padding: 0 4em;
}

.content img{
    width: 100%;
}

img {
    margin-bottom: 4em;
}